
*{
    box-sizing: border-box;
}
body{
    margin: 0;
}


/* Color class Property */
 .green{
    color: #16cb88;
 }
 .darkB{
    color: #0e2b5c;
 }
 .darkGr{
    color: rgb(109 127 157);
 }
 /* Color class Property End */


.display-3{
    font-weight: 700;
    color: white;
}

a{
    text-decoration: none;
}
img{
    width: 100%;
}
.secH{

    font-size: 35px;
    font-weight: 700;
    line-height: 1.5;
}
.therdH{
    font-size: 25px;
    font-weight: 700;
    margin: 1rem 0 !important
}
